body {margin: 2rem;
  padding: 0.25rem;}

li {
  font-family: 'Pontano Sans', sans-serif;
  display: inline-block;
  background-color: #95C64A;
  text-align: center;
  margin: .50rem;
  padding: .25rem;}

p {font-family: 'Pontano Sans', sans-serif;}

nav {font-size: 20pt;
  margin-top: -127px;
  margin-left: 400px;
  position: absolute;}

h3 {font-size: 18pt;}
h4 {font-size: 14pt;}

article, h1 {font-family: 'Pontano Sans', sans-serif;}

a {text-decoration: none;
  font-family: 'Pontano Sans', sans-serif;
  color: hsla(23, 41%, 16%, 1);}

ul {text-align: center;
   padding: 1rem;
   font-family: 'Pontano Sans', sans-serif;
}

footer {text-align:center;
    font-family: 'Pontano Sans', sans-serif;}

.offscreen {position: absolute;
left: -10000px;
top: auto;
width: 1px;
height: 1px;
overflow: hidden;}

